DOMAIN=git.example.com
TZ=Asia/Jakarta
PUID=1000
PGID=1000

GITEA_VERSION=1.27.0
GITEA_HTTP_PORT=3000
GITEA_SSH_PORT=2222

POSTGRES_VERSION=17
POSTGRES_DB=gitea
POSTGRES_USER=gitea
POSTGRES_PASSWORD=CHANGE_ME

DATA_DIR=/srv/data

DOCKER_NETWORK=git-network
DOCKER_SUBNET=172.19.0.0/16

RUNNER_NAME=gitea-runner
RUNNER_TOKEN=
RUNNER_LABELS=ubuntu-latest:docker://gitea/runner-images:ubuntu-latest

CLOUDFLARE_TOKEN=CHANGE_ME

BACKUP_DIR=/srv/backups
BACKUP_RETENTION_DAYS=30
BACKUP_SCHEDULE="0 2 * * 0"