DOMAIN=git.example.com
TZ=Asia/Jakarta
PUID=1000
PGID=1000

GITEA_VERSION=1.27.0
GITEA_HTTP_PORT=3000
GITEA_SSH_PORT=2222

POSTGRES_VERSION=17
POSTGRES_DB=gitea
POSTGRES_USER=gitea
POSTGRES_PASSWORD=CHANGE_ME

DATA_DIR=/srv/data

DOCKER_NETWORK=git-network
DOCKER_SUBNET=172.19.0.0/16

# Configuration for Gitea Runner
# Pilihan RUNNER_TYPE:
# - linux      : Deploy 1 Linux Runner container (untuk server Linux)
# - windows-vm : Deploy 1 Headless Windows VM Runner container via KVM (untuk server Linux)
# - both-vm    : Deploy 1 Linux Runner + 1 Headless Windows VM Runner sekaligus di 1 Server Linux!
# - windows    : Deploy 1 Native Windows Runner container (hanya untuk Host OS Windows)
# - both       : Deploy 1 Linux + 1 Native Windows container (hanya untuk Host OS Windows)
RUNNER_TYPE=both-vm
RUNNER_TOKEN=                                 # Token registrasi dari web UI Gitea (Site Admin -> Actions -> Runners)

# Linux Runner Configuration
LINUX_RUNNER_NAME=gitea-runner-linux
LINUX_RUNNER_LABELS=ubuntu-latest:docker://gitea/runner-images:ubuntu-latest

# Windows Runner Configuration
WINDOWS_RUNNER_NAME=gitea-runner-windows
WINDOWS_RUNNER_LABELS=windows:host,windows-msbuild:host,windows-latest:host

# Windows Headless VM Settings (dockur/windows via KVM)
WINDOWS_VM_RAM_SIZE=4G
WINDOWS_VM_CPU_CORES=2
WINDOWS_VM_DISK_SIZE=64G
WINDOWS_VM_VERSION=2022

CLOUDFLARE_TOKEN=CHANGE_ME

BACKUP_DIR=/srv/backups
BACKUP_RETENTION_DAYS=30
BACKUP_SCHEDULE="0 2 * * 0"