GITEA_INSTANCE_URL=https://${DOMAIN}
RUNNER_TYPE=${RUNNER_TYPE}
RUNNER_TOKEN=${RUNNER_TOKEN}

LINUX_RUNNER_NAME=${LINUX_RUNNER_NAME}
LINUX_RUNNER_LABELS=${LINUX_RUNNER_LABELS}

WINDOWS_RUNNER_NAME=${WINDOWS_RUNNER_NAME}
WINDOWS_RUNNER_LABELS=${WINDOWS_RUNNER_LABELS}

WINDOWS_VM_RAM_SIZE=${WINDOWS_VM_RAM_SIZE}
WINDOWS_VM_CPU_CORES=${WINDOWS_VM_CPU_CORES}
WINDOWS_VM_DISK_SIZE=${WINDOWS_VM_DISK_SIZE}
WINDOWS_VM_VERSION=${WINDOWS_VM_VERSION}


DATA_DIR=${DATA_DIR}
DOCKER_NETWORK=${DOCKER_NETWORK}