GITEA_VERSION=${GITEA_VERSION}
POSTGRES_VERSION=${POSTGRES_VERSION}

POSTGRES_DB=${POSTGRES_DB}
POSTGRES_USER=${POSTGRES_USER}
POSTGRES_PASSWORD=${POSTGRES_PASSWORD}

DATA_DIR=${DATA_DIR}

GITEA_HTTP_PORT=${GITEA_HTTP_PORT}
GITEA_SSH_PORT=${GITEA_SSH_PORT}

TZ=${TZ}

PUID=${PUID}
PGID=${PGID}